/*  The next two rules are used to more clearly see the lay out.  They
 *  are included for design purposes but the intent would be to remove
 *  them once in production.
 */
* {
    border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/* End of rules used for design
 */

body {
    min-width: 450px;
    max-width: 950px;
}

.align-right{
    float: right;
    margin-left: 10px;
}

.align-left {
    float: left;
    margin-right: 10px;
}

.small {
    width: 300;
    height: 250;
}

.medium {
    width: 600;
    height: 500;
}

.large {
    width: 1200;
    height: 1000;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.size125 {
    font-size: 125%;
}

.size150 {
    font-size: 150%;
}

#readings {
    height: 200px;
    width: 700px;
}

